// colors
$primary: #040F0F;
$secondary: #B3B3B3;
$tertiary: #696969;

// font size
$font-sm: 16px;
$font-md: 24px;
$font-lg: 36px;

// font color
$font-primary: $secondary;
$font-secondary: $primary;